@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');

:root {
    --scrollbar: none;
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    /*background-color: #222;*/
    overflow-x: hidden;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}

#title-screen {
    background-color: #222;
    min-height: 200vh;
    
    display: flex;
    place-items: center;
    align-content: center;
    justify-content: center;
}

#title-container {
    position: fixed;
    top: calc(-10vh);
    /*
    transform: translate(-50%, -50%);
    */
}

.rel {
    transform: rotateY(90deg);
}

#title-container h1 {
    color: #fff;
    font-size: 4rem;
    min-width: min-content;
    text-align: center;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
}

#title-container h1.rel {
    position: relative;
    top: calc(4.595rem * var(--r));
}

#info-screen {
    background-color: #222;
    min-height: 200vh;

    display: flex;
    place-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#info-screen h1 {
    position: fixed;
    top: calc(50%);
    color: white;
    font-size: 3rem;
    opacity: 0%;
    white-space: nowrap;
}

#info-text {
    position: relative;
    z-index: 0.5;
}


/* start of side fade animations */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-60%);
    transition: all 1s;
}

.reverse {
    transform: translateX(60%);
}

.d {
    transition-delay: .5s;
}

.d2 {
    transition-delay: 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.scroll-down {
    position: absolute;
    bottom: 25px;
    display: block;
    text-align: center;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    z-index: 9;
    left: calc(50% - 1.5rem);
    -webkit-animation: fade_move_down2 4s ease-in-out infinite;
    -moz-animation:    fade_move_down2 4s ease-in-out infinite;
    animation:         fade_move_down2 4s ease-in-out infinite;
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.scroll-down-container:hover {
    cursor: pointer;
}
  
/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.foreword {
    background-color: white;
    min-height: fit-content;
    position: relative;
    z-index: 100;
}


.sections {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    width: calc(100vw- 7.5rem);
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}


.title {
    width: 50vw;
}
.title h1, .title h2 {
    padding: 1rem;
}

.title h1 {
    font-size: 4rem;
    color: #1d70ff;
}


.title h2 {
    font-weight: 10;
    color: #222;
}

.foreword-text {
    min-height: 100%;
    overflow: hidden;
}

.foreword-text h3 {
    /* font-weight: 10; */
    color: #222;
    max-width: 50vw;
    word-spacing: .4rem;
    min-height: calc(100% -  2.5rem);
    margin-top: 3.5rem;
    overflow: hidden;
}

.foreword-text h3 {
    /* font-weight: 10; */
    color: #222;
    max-width: 50vw;
    word-spacing: .4rem;
    min-height: calc(100% -  2.5rem);
    margin-top: 3.5rem;
    overflow: hidden;
}

.sec {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-bar {
    position: relative;
    margin-top: 1rem;
    padding: 2rem 3rem;
    z-index: 1000;
}

.bottom-bar {
    position: relative;
    z-index: 10000;
}

.b {
    font-weight: bold;
}

.t {
    font-weight: 100;
    color: #444;
}

.sec h1.t {
    padding: .5rem .1rem .5rem .5rem;
}

.sec h1.b {
    padding: .5rem .5rem .5rem .1rem;
}

.sec h1 {
    font-size: large;
    text-transform: uppercase;
}

.item {
    background-color: white;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;

    min-height: fit-content;
    position: relative;
    z-index: 9;
}

.bb {
    background-color: blue;
    background-image: url(../img/blue.jpg);
}

#code-body .bb {
    background-color: #ee1313;
    background-image: url(../img/red.jpg);
}

.miniTitle {
    color: #ffffff;
    font-size: 2rem;
    padding: .2rem;
}

.miniDate {
    color: white;
    font-size: 1rem;
    padding: .5rem .1rem 1.5rem .1rem;
}

.vid {
    max-width: 50vw;
    width: 80vw;
}

.desc {
    padding: 1rem 2rem 1rem 0px;
}

.desc p {
    color: white;
    font-size: x-large;
    text-align: left;
}

.dbl {
    color: #1d70ff;
}

.swb {
    background-image: url("../img/moon.jpg");
}

.starsBox, .skill {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.star {
    color: white;
    font-size: 1.8rem;
    padding: .7rem .5rem .7rem .8rem;
}

.neon {
    color: rgb(255, 253, 231);
    text-shadow: 0 0 0 transparent,
                0 0 .6rem #ffea00,
                0 0 .79rem rgba(255, 243, 21, 0.658),
                0 0 .8rem  #ffea0000,
                0 0 200px  #ffea0000,
                0 0 300px  #ffea0000,
                0 0 500px  #ffea0000;
}

@keyframes flicker {
    
    0%, 17%, 23%, 25%, 53%, 58%, 100% {
        opacity: 1;
        text-shadow: 0 0 0 transparent,
        0 0 .6rem #ffea00,
        0 0 .79rem rgba(255, 243, 21, 0.658),
        0 0 .8rem  #ffea0000,
        0 0 200px  #ffea0000,
        0 0 300px  #ffea0000,
        0 0 500px  #ffea0000;
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        opacity: .2;
    }    
}
  

.flicker {
    animation: flicker 2s infinite alternate;
}

.skillSub {
    color: white;
    font-size: 2.1rem;
    text-align: center;
    font-family: 'Zen Tokyo Zoo';
    text-transform: capitalize;
    width: fit-content;
    padding: 2rem 2rem 2rem 2rem;
}

.neonText {
    text-transform: capitalize;
    text-shadow: 
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px rgb(0, 38, 255),
        0 0 30px rgb(0, 30, 255),
        0 0 45px rgba(255, 238, 0, 0);
}

.cover {
    position: relative;
    color: white;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Zen Tokyo Zoo';
    text-transform: capitalize;
    width: fit-content;
    top: -118px;
    z-index: 10;
    font-weight: 100;
    padding: 2rem 2rem 2rem 2rem;

    display: none;
}

.textCover h1 {
    padding: 1rem;
}

#end {
    background-color: #e9e5e5;
    min-height: 50vh;
    box-sizing: border-box;
    box-shadow: 2px 200px 83px -101px rgba(255,255,255,1) inset;
    position: relative;
    z-index: 100;
}

.socialsButtonsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50vh;
    align-items: flex-end;
    justify-content: space-evenly;
}

.icon {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8vw;
    height: 8vw;
    color: rgb(207, 207, 207);
    font-size: 2.5em;
    margin: 2rem;
    margin-bottom: 3rem;
    padding: 10px;
    border-radius: 20px;
    background-color: #e9e5e5;
    box-shadow: 12px 12px 24px #c6c3c3, -12px -12px 24px #ffffff;
}

.icon img.socialsImg {
    width: 4vw;
    height: 4vw;
}

/* https://codepen.io/sosuke/pen/Pjoqqp  - To Convert Hex to Filters*/

.twitter:hover img.socialsImg {
    filter: invert(46%) sepia(59%) saturate(1405%) hue-rotate(177deg) brightness(100%) contrast(90%);
}
.phone:hover img.socialsImg {
    filter: invert(42%) sepia(85%) saturate(419%) hue-rotate(69deg) brightness(93%) contrast(93%);
}
.github:hover img.socialsImg {
    filter: invert(13%) sepia(39%) saturate(2876%) hue-rotate(259deg) brightness(86%) contrast(101%);
}
.hackerrank:hover img.socialsImg {
    filter: invert(13%) sepia(39%) saturate(2876%) hue-rotate(259deg) brightness(86%) contrast(101%);
}
.email:hover img.socialsImg {
    filter: invert(25%) sepia(84%) saturate(1291%) hue-rotate(328deg) brightness(91%) contrast(92%);
}

.twitter:hover, .phone:hover, .email:hover {
    cursor: pointer;
}

.phone:hover {
    cursor: pointer;
    color: rgb(141, 166, 235);
}

.twitter:active, .email:active, .phone:active, .icon:active {
    /*transform: scale(1.6);*/  
    transition: box-shadow .3s, transform 6s cubic-bezier(.5, 4, 1, 2);
    
    box-shadow: 
        inset -2px -2px 8px rgba(255, 255, 255, 0.7),
        inset -2px -2px 12px rgba(255, 255, 255, 0.45),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.twitter:active img.socialsImg, .email:active img.socialsImg, .phone:active img.socialsImg {
    opacity: .8;
}

.copyright {
    background-color: #e9e5e5;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1.5rem;
}

.copyright h1 {
    font-size: medium;
    font-weight: 100;
    color: #666;
    width: 100%;
    text-align: center;
    margin: .2rem;
}

.scroll {
    position: fixed;
    bottom: 60px;
    color: white;
    opacity: 40%;
    display: none;
}

header {
    position: absolute;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
}

header #headerHelp {
    padding: .9rem;
    overflow: hidden;
    justify-self: flex-end;
}

#headerHelp img {
    height: calc(80px - 1.8rem);
    width: calc(80px - 1.8rem);

    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(137deg) brightness(111%) contrast(101%);

    opacity: .75;

    z-index: 21;
}

#headerHelp img:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05);
    transition: all .2s;
}

#helpModal {
    position: fixed;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;

    display: none;
    transition: all 1s;
}

#helpModal .modal {
    width: 80vw;
    height: fit-content;
    border-radius: 3rem;
    background-color: white;
}

#helpModal .modalTop {
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}

.modalTop img {
    height: calc(100% - (2 * 1.8rem));
    padding: 1.8rem;
    opacity: .7;
    overflow: hidden;
}

.modalTop img:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05);
    transition: all .2s;
}

.modalTop h1 {
    margin-left: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.modalInfo {
    margin-bottom: 3rem;
}

.modalInfo p {
    margin: .2rem 3rem;
    font-size: medium;
    font-weight: 100;
    color: #222;
}



/* timeline */
.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));*/
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);

    z-index: 1;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    overflow-y: hidden;
    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
    z-index: 10s;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before, .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #1d70ff;
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: #1d70ff;
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
}

.tmdesc {
    /* margin: 1em 0.75em 0 0; */

    font-size: 0.77777em;
    line-height: 1.5em;
    margin: 0px 1rem;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }
    
    .flag {
        background: rgb(255,255,255);
        z-index: 15;
    }

    .timeline:before {
        position: absolute;
        z-index: 0;
    }
    
    .direction-l .flag:before, .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255,80,80);
        z-index: 300;
    }
    
    .direction-l .flag:after, .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
    }

    .tmdesc {
        background-color: rgb(255,255,255);
    }
    
    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 300;
    }

    .experiences-div {
        width: 100%;
    }

    .a-e.experiences-div>li {
        width: 100%;
    }
    
    .direction-l .time-wrapper {
        float: none;
    }
    
    .direction-r .time-wrapper {
        float: none;
    }
    
    .tmdesc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        /* background: rgb(245,245,245);*/
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        box-shadow: 0 0 1px rgba(0,0,0,0.20);
        
        z-index: 300;
    }
    
    .direction-l .tmdesc, .direction-r .tmdesc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;
        
        z-index: 15;
    }

}
  
@media screen and (max-width: 660px) {
    .direction-l .tmdesc, .direction-r .tmdesc {
        margin: 1em 4em 0 4em;
    }
}

.timeline-div {
    z-index: 200;
    position: relative;
    background-color: #fefefe;
    padding: 2rem 0rem .5rem 0rem;
}

.timeline-title {
    align-content: cetner;
    text-align: center;
    font-size: 4rem;
    padding: 1rem 0rem;
    color: #1d70ff;
}


/* langauges */
.experiences-div {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 2rem;
    padding: 1rem 0rem;
    width: 80vw;
}

.experiences-div>ul {
    width: 80vw;
    align-self: center;
    justify-self: center;
}

.exdiv1 {
    display: flex;
    justify-content: center;
}

.experiences-div>li {
	padding: .8rem;
	border-radius: 5px;
	transition:
		box-shadow 250ms ease,
		background-color 250ms ease;
    transition: transform 0.5s ease;
    max-width: 40%;
}

.experiences-div.a-e>li {
	padding: 1rem;
	border-radius: 5px;
	transition:
		box-shadow 250ms ease,
		background-color 250ms ease;
    transition: transform 0.5s ease;
    min-width: 80%;
    justify-self: left;
    align-self: left;
    margin-left: 1rem;
}

.experiences-div.a-e {
    justify-content: flex-start;
    align-items: flex-start;
}

.experiences-div>li:hover {
	background-color: #cde1ff;
	box-shadow: 0 0 0 .5rem #fefefe;
    /* cursor: pointer; */
    transform: scale(1.05); /* Scale up to 120% of the original size */
}

.experiences-div.a-e>li:hover {
	background-color: #fffbd8;
	box-shadow: 0 0 0 .5rem #fefefe;
    /* cursor: pointer; */
    transform: scale(1.05); /* Scale up to 120% of the original size */
}

.experiences-div>li .extitle {
	display: flex;
	align-items: center;
	font-weight: 900;
	margin: 0 0 .5rem 0;
	color: black;
}

.experiences-div>li .exdescription {
	margin: 0;
	color: black;
    
    font-family: 'Roboto', sans-serif;
}

.exdescription.hob {
    font-size: medium;
    word-spacing: normal;
}


.experiences-div>li .exicon {
	font-size: 1.5rem;
	margin-right: .5rem;
	padding: .5rem;
	background-color: #1d70ff;
	color: #fefefe;
	border-radius: 50%;
}

.c-e>li .exicon {
    background-color: #ee1313;
}

.e-e>li .exicon, .a-e>li .exicon {
    padding: .5rem;
    background-color: transparent;
    border-radius: none;
    color: #1d70ff;
    font-size: 2rem;
}

.a-e>li .exicon {
    color: #ff8c00;
}

.experiences-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pad-top1 {
    padding-top: 4rem;
}

.stars {
    font-size: 2rem;
    letter-spacing: .1rem;
}

.grey {
    font-size: 2rem;
    color: #666;
}
.white {
    color: white;
}

@media screen and (max-width: 660px) {
    ul.experiences-div {
        width: 100vw;
        align-self: center;
        justify-self: center;
    }
}

#port-screen-parralax {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
    position: relative;
    z-index: 0;
    align-items: center;
}

#port-text {
    justify-self: center;
    text-align: center;
    color: white;
    margin-top: 7rem;
    font-size: 2.2rem;
    z-index: 99;
    justify-content: center;
    white-space: nowrap;
}

#portfolio-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 350vh;
    justify-self: center;
    align-self: center;
    
}

.e-card {
    position: absolute;
    z-index: 3;
}

/* https://codepen.io/loktar00/pen/DdWxwL */
/* https://uiverse.io/vamsidevendrakumar/soft-shrimp-94 */

.e-card {
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 18rem;
    height: 26rem;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
}

#graphic-card {
    margin-right: 100vw;
}
#code-card {
    margin-left: 100vw;
}

.e-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
}

.graphic .wave {
    background: linear-gradient(744deg,#ff8ca5,#ee1313 60%,#ffaa2b);
}

.code .wave {
    background: linear-gradient(744deg,#8ce4ff,#1342ee 60%,#e17be1);
}

.card-port-icon {
    width: 3em;
    /*margin-top: -1em;
    padding-bottom: 1em;*/
}

.infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6rem;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    height: 80%;
}

.infotop i {
    font-size: 2.5rem;
    padding-bottom: 0.1rem;
    margin: 1
}

.infotop p {
    font-size: 2rem;
    font-weight: 800;
    margin: .4rem .5rem;
}

.card-port-name {
    font-size: 1rem;
    font-weight: 100;
    position: relative;
    top: 1em;
    /*text-transform: lowercase;*/
    margin-bottom: .2rem;
}

.wave:nth-child(2), .wave:nth-child(3) {
    top: 210px;
}

.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}

.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#port-screen-parralax {
    background-color: #333;
    min-height: 300vh;

    display: flex;
    place-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#port-screen-parralax h1 {
    position: fixed;
    top: calc(5%);
    color: white;
    font-size: 3rem;
    opacity: 100%;
    /*white-space: nowrap;*/
    z-index: 99;
    opacity: 0%;
}

#port-screen-parralax #portfolio-box {
    z-index: 99;
}

#portfolio-box {
    position: fixed;
    z-index: 80;
    top: calc(15% + 10rem);
}

.red {
    color: rgb(255, 70, 70);
    position: relative;
    z-index: -1;
} .blue {
    color: rgb(102, 102, 255);
    position: relative;
    z-index: -1;
}

.responsive-newline {
    content: "";
}

#bottom-bar {
    position: relative;
    z-index: 100;
    display: block;
}

#down-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down2 {
    0%   { -webkit-transform:translate(0,-10px) rotate(0deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(0deg); opacity: 0; }
}
@-moz-keyframes fade_move_down2 {
    0%   { -moz-transform:translate(0,-10px) rotate(0%); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(0deg); opacity: 0; }
}
@keyframes fade_move_down2 {
    0%   { transform:translate(0,-10px) rotate(0deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(0deg); opacity: 0; }
}

#down-2 {
    overflow-y: hidden;
    z-index: 1000;
    position: relative;
    display: block;
}

#down-2 i {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: #222;
    transition: transform 0.2s ease-in-out;
    -webkit-animation: fade_move_down2 4s ease-in-out infinite;
    -moz-animation:    fade_move_down2 4s ease-in-out infinite;
    animation:         fade_move_down2 4s ease-in-out infinite;
    margin-left: calc(50vw - 32px);
}

#down-2 i:hover {
    cursor: pointer;
    transform: scale(1.06);
    color: black;
}

.copyright {
    position: relative;
    z-index: 101;
    display: block;
}

#g-header {
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(744deg,#8ce4ff,#1342ee 60%,#e17be1);
    overflow-y: hidden;
}

#g-header svg {
    align-self: center;
    margin: 0px;
    justify-self: flex-end;
    width: 100vw;
    min-width: 100vw;
    max-height: 30%;
}

#c-header {
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(744deg,#ff8ca5,#ee1313 60%,#ffaa2b);
    overflow-y: hidden;
}

#c-header svg {
    align-self: center;
    margin: 0px;
    justify-self: flex-end;
    width: 100vw;
    min-width: 100vw;
    max-height: 40%;
}

.g-infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6rem;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    height: 40vh;
    overflow-y: hidden;
    justify-self: top;
    top: 10vh;
}

.g-infotop i {
    font-size: 2.5rem;
    padding-bottom: 0.1rem;
    margin: 1
}

.g-infotop p {
    font-size: 2rem;
    font-weight: 800;
    margin: .4rem .5rem;
    
}

.icon {
    transition: color 0.3s ease;
    font-size: 2rem;
}
.portfolios .icon {
    height: fit-content;
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
}

.g .portfolios, .g .socialsButtonsContainer{
    margin-top: 2rem;
    height: 30vh;
    align-items: center;
}

.icon:hover {
    text-decoration: none;
    color: #1d70ff;
}

.c .icon:hover {
    text-decoration: none;
    color: #ee1313;
}

.socialsButtonsContainer a {
    text-decoration: none;
}

#end.c, #end.g, .portfolios {
    min-height: 10vh;
    height: 30vh;
}

.port-arrow {
    color: white;
    margin-top: auto;

    padding: 1rem;
    padding-bottom: 2rem;
    position: relative;
    display: block;
    z-index: 1000;
}

.port-arrow i {
    font-size: 2rem;
    -webkit-animation: fade_move_down2 4s ease-in-out infinite;
    -moz-animation:    fade_move_down2 4s ease-in-out infinite;
    animation:         fade_move_down2 4s ease-in-out infinite;
}

.port-arrow:hover {
    cursor: pointer;
}

.port-screen-parralax {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.hobby-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-start;
}

.hobby-box i {
    padding: 1rem;
    font-size: 2.8rem;
}
.hobby-box p {
    font-size: 2rem;
    padding: 1rem;
}
.foreword-text.hobby {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
}

.top-back {
    position: sticky;
    top: 2%;
    right: 2%;
    position: fixed;
    background-color: white;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add drop shadow */
    transition: transform 0.2s ease-in-out;
}

.top-back i {
    font-size: 2rem;
    overflow-y: hidden;

}

.top-back:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #222;
}

.topper {
    position: relative;
    display: block;
    z-index: 100000;
}

div.topper {
    background-color: white;
}