@media screen and (max-width: 1128px) { /* when the ui starts to break down */
    #title-container h1 {
        color: #fff;
        font-size: 11vw;
        min-width: min-content;
        text-align: center;
        white-space: wrap;
    }

    #title-container {
        position: fixed;
        top: calc(-5%);
        /*
        transform: translate(-50%, -50%);
        */
    }

    #info-screen h1 {
        /*max-width: 90vw;*/
        word-wrap: normal;
        text-align: center;
        white-space: inherit;
    }

    #info-screen h1 {
        top: calc(35%);
    }

    .sections {
        flex-direction: column;
    }

    .sections h1, .sections h2, .sections h3 {
        text-align: center;
    }
    
    .title h1 {
        font-size: 3.5rem;
    }
    
    .foreword-text {
        display: flex;
        align-items: center;
    }

    .foreword-text h3 {
        padding: 0px;
        margin-top: 3rem;
        min-width: 100%;
        color: #333;
        word-spacing: normal;
    }

    .column {
        flex-direction: row;
    }

    .sec.row {
        display: grid;
        grid-row: auto;
    }

    .sec.row  h1 {
        white-space: no-wrap;
        font-size: medium;
        padding: .5rem 1rem;
    }

    .sections {
        margin: 0px;
        padding: .8rem;
    }

    .item {
        background-attachment: inherit;
    }

    .title h1, .title h2, .miniTitle, .miniDate {
        width: 100%;
        text-align: center;
        text-justify: center;
    }

    .title h1, .title h2 {
        max-width: calc(100vw - (1.6rem + 4rem));
    }

    .video {
        min-width: 100%;
    }
    
    .desc {
        padding: 1rem 2rem 1.5rem 2rem;
    }

    .desc p {
        text-align: center;
    }

    .swb {
        background-position: right;
        background-image: url("../img/moonRes.jpg");
        background-attachment: inherit;
        background-repeat: no-repeat;
    }

    .skill {
        flex-direction: column;
        justify-content: center;
    }

    .skillSub.s1 {
        width: 90%;
        margin: 0px;
        max-width: 100vw;
        text-align: center;
    }

    .skillSub.s2 {
        max-width: calc(100vw);
        text-align: center;
        margin: 0px;
    }

    .starsBox {
        justify-content: center;
    }

    .textCover {
        max-width: 100vw;
        justify-content: center;
    }

    .title h1 {
        margin: 0px;
    }

    .title {
        display: flex;
        flex-direction: column;
    }

    .socialsButtonsContainer {
        flex-direction: column;
        align-items: center;
        margin-top: 30vw;
        flex-wrap: wrap;
    }

    .icon {
        width: 30vw;
        height: 30vw;
        border-radius: 30px;
    }

    .icon img.socialsImg {
        width: 20vw;
        height: 20vw;
    }

    .textCover {
        display: flex;
        justify-content: center;
    }

    #helpModal {
        min-height: 100vh;
        height: 100vh;
        background: none;
        overflow: hidden;
    }

    #helpModal .modal {
        width: 100vw;
        min-height: 100vh;
        height: 100vh;
        border-radius: 3rem;
        background-color: white;
        border-radius: 0px;
        overflow: hidden;
    }

    .modalTop h1 {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .modalInfo p {
        margin: .2rem 1rem;
        font-size: small;
        font-weight: 100;
        color: #222;
    }

    #helpModal .modalTop {
        height: 120px;
    }
    
}