html.theme-engineering {
  --color-accent: #c44b4b;
  --color-gradient: linear-gradient(137.84deg, #b83838 26.31%, #852525 93.75%);
  --color-gradient-text: linear-gradient(90deg, #c44b4b, #963030);
  --color-gradient-border: linear-gradient(155deg, #a83535 0%, rgba(255, 191, 96, 0) 50%);
}

html.theme-engineering .sun {
  background-image: linear-gradient(#e72929 10%, #ff4d00);
}

@media only screen and (max-width: 768px) {
  html.theme-engineering .sun {
    background: radial-gradient(circle, #511515 0%, #111 70%);
  }
}

